* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(25, 28, 33);
    color:#fff
}

@import "variables";
// HEADER

.navbar {
    width: 100%;
    background-color: $color2;
    min-height: 5em;
    .navbar-brand{
        font-weight: 600;
        span{
            color: $color3;
        }
    }
    li{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em 0;
        a{
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}
// HERO 
// CAROUSEL
#demo {
    height: 90vh;
    width: 100%;
    position: relative;
    .carousel-inner{
        height: 90vh;
        .carousel-item{
            height: 90vh;
            img{
                height: 90vh;
                object-fit: cover;
                width: 100%;
            }
        }
    }
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor__hero{
    position: absolute;
    top: 0;
    // arreglo
    left:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    text-align: center;
    height: 100%;
    padding-bottom: 2em;
    h1{
        font-weight: 700;
        span{
            color: $color3;
        }
    }
    p{
        font-size: 0.8rem;
        line-height: 2;
        margin: 2em 0;
    }
    a {
        margin: 0 auto;
        width: 55%;
        display: block;
        border: 2px solid $color3;
        color: $color3;
        font-weight: 700;
        padding: 1em ;
        transition: $normal;
        text-decoration: none;
        animation: botonHero 1s ease alternate-reverse infinite;
        &:hover{
            color: $color4;
            background-color: $color3;
        }
    }
}

@keyframes botonHero{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1); 
    }
}

// SOBRE MI
#sobremi{
    height: 210vh;
    padding: 4em 1.5em;
    .contenedor-todo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .contenedor-imagen{
            background: url(../imagenes/fotoPerfil.png) ;
            width: 100%;
            height: 30em;
            background-size: cover;
            border: 5px solid $color3;
            background-position: center;
            animation: sobreMiImg 2s ease forwards;
        }
        .contenedor-texto{
            margin-top: 2em;
            text-align: center;
            animation: sobreMiTexto 2s ease forwards;
            h1{
                font-weight: 700;
            }
            .parrafo{
                line-height: 2;
            }
        }
        .arreglo1{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            strong{
                font-size: 1.2rem;
            }
        }
        .arreglo2{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            strong{
                font-size: 1.2rem;
            }
        }
        a {
            margin: 0 auto;
            width: 55%;
            display: block;
            border: 2px solid $color3;
            color: $color3;
            font-weight: 700;
            padding: 1em ;
            transition: $normal;
            text-decoration: none;
            &:hover{
                color: $color4;
                background-color: $color3;
            }
        }
    }
}

@keyframes sobreMiImg{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes sobreMiTexto{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

// SERVICIOS
#servicios{
    height: 210vh;
    background-color: $color2;
    padding: 4em 1.5em;
    text-align: center;
    h2{
        font-weight: 700;
        margin-bottom: 2em;
    }
    .card{
        height: 20em;
        margin-bottom: 2em;
        background-color: $color3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $color5;
        .card--image{
            width: 50%;
            height: 50%;
            margin-top: 2em;
            margin-bottom: 1em;
        }
        .image1{
            background: url(../imagenes/codigo.png);
            background-size: cover;
            background-position: center;
            height: 150px;
            width: 150px;
        }
        .image2{
            background: url(../imagenes/web.png);
            background-size: cover;
            background-position: center;
            height: 150px;
            width: 150px;
        }
        .image3{
            background: url(../imagenes/ui.png);
            background-size: cover;
            background-position: center;
            height: 150px;
            width: 150px;
        }
        .card-text{
            font-weight: 700;
        }
    }
    a {
        margin: 0 auto;
        width: 55%;
        display: block;
        border: 2px solid $color3;
        color: $color3;
        font-weight: 700;
        padding: 1em ;
        transition: $normal;
        text-decoration: none;
        &:hover{
            color: $color4;
            background-color: $color3;
        }
    }

}

// PORTFOLIO

#portfolio{
    height: 270vh;
    padding: 4em 1.5em;
    text-align: center;
    h2{
        font-weight: 700;
        margin-bottom: 2em;
    }
    .grid-portfolio{
        width: 100%;
        display: grid;
        grid-template-areas: 
        "img1"
        "img1"
        "img2"
        "img3"
        "img4"
        "img5";
        gap: 2em;
        img{
            object-fit: cover;
            width: 100%;
            border: 5px solid $color3;
            transition: $normal;
            max-height: 20em;
            &:hover{
                transform: scale(0.9);
            }
        }
        .img1{
            grid-area: img1;
        }
        .img2{
            grid-area: img2;
        }
        .img3{
            grid-area: img3;
        }
        .img4{
            grid-area: img4;
        }
        .img5{
            grid-area: img5;
        }
    }
    a {
        margin: 3em auto 0;
        width: 55%;
        display: block;
        border: 2px solid $color3;
        color: $color3;
        font-weight: 700;
        padding: 1em ;
        transition: $normal;
        text-decoration: none;
        &:hover{
            color: $color4;
            background-color: $color3;
        }
    }
}

// CONTACTO

#contacto{
    height: 170vh;
    background-color: $color2;
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        .contacto-img{
            background: url(../imagenes/contacto.jpg) ;
            width: 100%;
            height: 30em;
            background-size: cover;
            border: 5px solid $color3;
            background-position: center;
        }
        form{
            width: 100%;
            margin-top: 3em;
            h2{
                font-weight: 700;
                margin-bottom: 1em;
            }
            .input-style {
                width: 100%;
                border-bottom: 5px solid $color3;
                background-color: $color1;
                color: $color4;
                min-height: 3em;
                margin-bottom: 2em;
            }
            #enviar{
                margin: 1em auto;
                width: 55%;
                display: block;
                border: 2px solid $color3;
                color: $color3;
                font-weight: 700;
                padding: 1em ;
                transition: $normal;
                text-decoration: none;
                background: none;
                    &:hover{
                        color: $color4;
                        background-color: $color3;
                    }
            }
        }
}

// FOOTER

footer{
    height: 80vh;
    padding: 4em 1.5em;
    text-align: center;
    h4{
        font-weight: 700;
    }
    p{
        margin-bottom: 2em;
    }
    img{
        width: 2em;
        cursor: pointer;
    }
}

// MEDIA

@media screen and (min-width: 750px) {
    .navbar{
        min-height: 6em;
    }
    #sobremi{
        height: 150vh;
        padding: 4em 6em;
    }
    #servicios{
        height: 80vh;
        padding: 4em 3em;
        .card--image{
            width: 50%;
            height: 50%;
            margin-top: 2em;
            margin-bottom: 1em;
        }
    }
    #portfolio {
        height: 240vh;
        padding: 4em 6em 0;
    }
    #contacto{
        height: 160vh;
        padding: 0 6em;
    }
    footer{
        height: 60vh;
    }
}

@media screen and (min-width: 1000px) {
    .navbar{
        min-height: 6em;
    }
    .contenedor__hero{
        position: absolute;
        top: 0;
        // arreglo
        left:10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        text-align: left;
        height: 100%;
        padding-bottom: 2em;
        h1{
            font-weight: 700;
            font-size: 2.8rem;
            span{
                color: $color3;
            }
        }
        p{
            font-size: 1rem;
            line-height: 2;
            margin: 2em 0;
        }
        a{
            margin: 0;
            width: 30%;
            display: block;
            text-align: center;
            border: 2px solid $color3;
            color: $color3;
            font-weight: 700;
            padding: 1em ;
        }
    }
    #sobremi{
        height: 90vh;
        padding: 4em 6em;
        .contenedor-todo{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .contenedor-imagen{
                background: url(../imagenes/fotoPerfil.png) ;
                width: 100%;
                height: 35em;
                background-size: cover;
                border: 5px solid $color3;
                background-position: center;
                margin-right: 3em;
            }
            .contenedor-texto{
                margin-top: 0;
                text-align: left;
                width: 90%;
                height: 35em;
                h1{
                    font-weight: 700;
                    margin-bottom: 0.5em;
                }
                .parrafo{
                    line-height: 2;
                    margin-bottom: 0;
                }
            }
            .arreglo1{
                height: 5em;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                strong{
                    font-size: 1.2rem;
                }
            }
            .arreglo2{
                height: 5em;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                strong{
                    font-size: 1.2rem;
                }
            }
            a{
                margin-top: 2em;
                width: 30%;
                display: inline-block;
                text-align: center;
                border: 2px solid $color3;
                color: $color3;
                font-weight: 700;
                padding: 1em ;
                &:hover{
                    color: $color4;
                    background-color: $color3;
                }
            }
               
            }
    }
    #servicios{
        height: 80vh;
        padding: 4em 3em;
        .card--image{
            width: 50%;
            height: 50%;
            margin-top: 2em;
            margin-bottom: 1em;
        }
        a {
            margin: 0 auto;
            width: 20%;
            display: inline-block;
            border: 2px solid $color3;
            color: $color3;
            font-weight: 700;
            padding: 1em ;
            transition: $normal;
            text-decoration: none;
            &:hover{
                color: $color4;
                background-color: $color3;
            }
        }
    }
    #portfolio {
        height: 140vh;
        padding: 4em 6em 0;
        .grid-portfolio{
            width: 100%;
            height: auto;
            display: grid;
            grid-template-areas: 
            "img1 img1 img2"
            "img4 img4 img3"
            "img5 img5 img5";
            gap: 2em;
            img{
                object-fit: cover;
                width: 100%;
                border: 5px solid $color3;
                transition: $normal;
                height: 15em;
                &:hover{
                    transform: scale(0.9);
                }
            }
            .img1{
                grid-area: img1;
            }
            .img2{
                grid-area: img2;
            }
            .img3{
                grid-area: img3;
            }
            .img4{
                grid-area: img4;
            }
            .img5{
                grid-area: img5;
            }
        }
        a {
            margin: 3em auto 0;
            width: 20%;
            display: inline-block;
            border: 2px solid $color3;
            color: $color3;
            font-weight: 700;
            padding: 1em ;
            transition: $normal;
            text-decoration: none;
            &:hover{
                color: $color4;
                background-color: $color3;
            }
        }
    }
    #contacto{
        height: 90vh;
        padding: 0 6em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .contacto-img{
            background: url(../imagenes/contacto.jpg) ;
            width: 100%;
            height: 30em;
            background-size: cover;
            border: 5px solid $color3;
            background-position: center;
            margin-right: 3em;
        }
        form{
            width: 100%;
            margin-top: 3em;
            h2{
                font-weight: 700;
                margin-bottom: 1em;
            }
            .input-style {
                width: 100%;
                border-bottom: 5px solid $color3;
                background-color: $color1;
                color: $color4;
                min-height: 3em;
                margin-bottom: 2em;
            }
            #enviar{
                margin: 1em auto;
                width: 30%;
                display: inline-block;
                border: 2px solid $color3;
                color: $color3;
                font-weight: 700;
                padding: 1em ;
                transition: $normal;
                text-decoration: none;
                background: none;
                    &:hover{
                        color: $color4;
                        background-color: $color3;
                    }
            }
        }
    }
    footer{
        height: 40vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .footer-item{
            margin: 0 2em;
        }
        .redes{
            display: flex;
            justify-content: center;
            img{
                margin: 0 0.3em;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .navbar{
        min-height: 6em;
    }
    #sobremi{
        height: 90vh;
        padding: 4em 10em;
    }
    #servicios{
        height: 80vh;
        padding: 4em 4em;
        .card--image{
            width: 50%;
            height: 50%;
            margin-top: 2em;
            margin-bottom: 1em;
        }
    }
    #portfolio {
        height: 150vh;
        padding: 4em 10em 0;
    }
    #contacto{
        height: 100vh;
        padding: 0 10em;
    }
    footer{
        height: 30vh;
    }
}

@media screen and (min-width: 1600px) {
    .navbar{
        min-height: 6em;
    }
    .contenedor__hero{
        position: absolute;
        top: 0;
        // arreglo
        left:15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        height: 100%;
        padding-bottom: 2em;
    }
    #sobremi{
        height: 80vh;
        padding: 4em 30em;
    }
    #servicios{
        height: 80vh;
        padding: 4em 20em;
        .card--image{
            width: 50%;
            height: 50%;
            margin-top: 2em;
            margin-bottom: 1em;
        }
    }
    #portfolio {
        height: 130vh;
        padding: 4em 30em 0;
    }
    #contacto{
        height: 80vh;
        padding: 0 25em;
    }
    footer{
        height: 30vh;
        .footer-item{
            margin: 0 4em;
        }
    }
}