* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #191c21;
  color: #fff;
}

.navbar {
  width: 100%;
  background-color: #14161a;
  min-height: 5em;
}

.navbar .navbar-brand {
  font-weight: 600;
}

.navbar .navbar-brand span {
  color: #E53340;
}

.navbar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}

.navbar li a {
  text-transform: uppercase;
  font-weight: 700;
}

#demo {
  height: 90vh;
  width: 100%;
  position: relative;
}

#demo .carousel-inner {
  height: 90vh;
}

#demo .carousel-inner .carousel-item {
  height: 90vh;
}

#demo .carousel-inner .carousel-item img {
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor__hero {
  position: absolute;
  top: 0;
  left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  text-align: center;
  height: 100%;
  padding-bottom: 2em;
}

.contenedor__hero h1 {
  font-weight: 700;
}

.contenedor__hero h1 span {
  color: #E53340;
}

.contenedor__hero p {
  font-size: 0.8rem;
  line-height: 2;
  margin: 2em 0;
}

.contenedor__hero .btn--inicio {
  margin: 0 auto;
  width: 60%;
  display: inline-block;
  border: 2px solid #E53340;
  color: #E53340;
  font-weight: 700;
  padding: 1em;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-decoration: none;
  animation: botonHero 1s ease alternate-reverse infinite;
}

.contenedor__hero .btn--inicio:hover {
  color: #fff;
  background-color: #E53340;
}

@-webkit-keyframes botonHero {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes botonHero {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

#sobremi {
  height: 210vh;
  padding: 4em 1.5em;
}

#sobremi .contenedor-todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sobremi .contenedor-todo .contenedor-imagen {
  background: url(../imagenes/fotoPerfil.png);
  width: 100%;
  height: 30em;
  background-size: cover;
  border: 5px solid #E53340;
  background-position: center;
  -webkit-animation: sobreMiImg 2s ease forwards;
          animation: sobreMiImg 2s ease forwards;
}

#sobremi .contenedor-todo .contenedor-texto {
  margin-top: 2em;
  text-align: center;
  -webkit-animation: sobreMiTexto 2s ease forwards;
          animation: sobreMiTexto 2s ease forwards;
}

#sobremi .contenedor-todo .contenedor-texto h1 {
  font-weight: 700;
}

#sobremi .contenedor-todo .contenedor-texto .parrafo {
  line-height: 2;
}

#sobremi .contenedor-todo .arreglo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#sobremi .contenedor-todo .arreglo1 strong {
  font-size: 1.2rem;
}

#sobremi .contenedor-todo .arreglo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#sobremi .contenedor-todo .arreglo2 strong {
  font-size: 1.2rem;
}

#sobremi .contenedor-todo a {
  margin: 0 auto;
  width: 60%;
  display: inline-block;
  border: 2px solid #E53340;
  color: #E53340;
  font-weight: 700;
  padding: 1em;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-decoration: none;
  animation: botonHero 1s ease alternate-reverse infinite;
}

#sobremi .contenedor-todo a:hover {
  color: #fff;
  background-color: #E53340;
}

@-webkit-keyframes sobreMiImg {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes sobreMiImg {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes sobreMiTexto {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes sobreMiTexto {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

#servicios {
  height: 210vh;
  background-color: #14161a;
  padding: 4em 1.5em;
  text-align: center;
}

#servicios h2 {
  font-weight: 700;
  margin-bottom: 2em;
}

#servicios .card {
  height: 20em;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

#servicios .card .card--image {
  width: 50%;
  height: 50%;
  margin-top: 2em;
  margin-bottom: 1em;
}

#servicios .card .image1 {
  background: url(../imagenes/codigo.png);
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
}

#servicios .card .image2 {
  background: url(../imagenes/web.png);
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
}

#servicios .card .image3 {
  background: url(../imagenes/ui.png);
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
}

#servicios .card .card-text {
  font-weight: 700;
}

#servicios a {
  margin: 0 auto;
  width: 60%;
  display: inline-block;
  border: 2px solid #E53340;
  color: #E53340;
  font-weight: 700;
  padding: 1em;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-decoration: none;
  animation: botonHero 1s ease alternate-reverse infinite;
}

#servicios a:hover {
  color: #fff;
  background-color: #E53340;
}

.card--col1 {
  background-color: #E53340;
}

.card--col2 {
  background-color: #d42732;
}

.card--col3 {
  background-color: #be222c;
}

#portfolio {
  height: 270vh;
  padding: 4em 1.5em;
  text-align: center;
}

#portfolio h2 {
  font-weight: 700;
  margin-bottom: 2em;
}

#portfolio .grid-portfolio {
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "img1" "img1" "img2" "img3" "img4" "img5";
  gap: 2em;
}

#portfolio .grid-portfolio img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border: 5px solid #E53340;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  max-height: 20em;
}

#portfolio .grid-portfolio img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#portfolio .grid-portfolio .img1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img1;
}

#portfolio .grid-portfolio .img2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img2;
}

#portfolio .grid-portfolio .img3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: img3;
}

#portfolio .grid-portfolio .img4 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: img4;
}

#portfolio .grid-portfolio .img5 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: img5;
}

#portfolio a {
  margin: 3em auto;
  width: 60%;
  display: inline-block;
  border: 2px solid #E53340;
  color: #E53340;
  font-weight: 700;
  padding: 1em;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-decoration: none;
  animation: botonHero 1s ease alternate-reverse infinite;
}

#portfolio a:hover {
  color: #fff;
  background-color: #E53340;
}

#contacto {
  height: 170vh;
  background-color: #14161a;
  padding: 0 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto .contacto-img {
  background: url(../imagenes/contacto.jpg);
  width: 100%;
  height: 30em;
  background-size: cover;
  border: 5px solid #E53340;
  background-position: center;
}

#contacto form {
  width: 100%;
  margin-top: 3em;
}

#contacto form h2 {
  font-weight: 700;
  margin-bottom: 1em;
}

#contacto form .input-style {
  width: 100%;
  border-bottom: 5px solid #E53340;
  background-color: #191C21;
  color: #fff;
  min-height: 3em;
  margin-bottom: 2em;
}

#contacto form #enviar {
  margin: 0 auto 3em;
  width: 60%;
  display: inline-block;
  background: none;
  border: 2px solid #E53340;
  color: #E53340;
  font-weight: 700;
  padding: 1em;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-decoration: none;
  animation: botonHero 1s ease alternate-reverse infinite;
}

#contacto form #enviar:hover {
  color: #fff;
  background-color: #E53340;
}

footer {
  height: 80vh;
  padding: 4em 1.5em;
  text-align: center;
}

footer h3 {
  font-weight: 700;
}

footer p {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 2em;
}

footer img {
  width: 2em;
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  .navbar {
    min-height: 6em;
  }
  #sobremi {
    height: 150vh;
    padding: 4em 6em;
  }
  #servicios {
    height: 80vh;
    padding: 4em 3em;
  }
  #servicios .card--image {
    width: 50%;
    height: 50%;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  #portfolio {
    height: 240vh;
    padding: 4em 6em 0;
  }
  #contacto {
    height: 160vh;
    padding: 0 6em;
  }
  footer {
    height: 60vh;
  }
}

@media screen and (min-width: 1000px) {
  .navbar {
    min-height: 6em;
  }
  .contenedor__hero {
    position: absolute;
    top: 0;
    left: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40%;
    text-align: left;
    height: 100%;
    padding-bottom: 2em;
  }
  .contenedor__hero h1 {
    font-weight: 700;
    font-size: 2.8rem;
  }
  .contenedor__hero h1 span {
    color: #E53340;
  }
  .contenedor__hero p {
    font-size: 1rem;
    line-height: 2;
    margin: 2em 0;
  }
  .contenedor__hero .btn--inicio {
    width: 30%;
    margin-left: 0;
    padding-left: 3em;
  }
  #sobremi {
    height: 90vh;
    padding: 4em 6em;
  }
  #sobremi .contenedor-todo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #sobremi .contenedor-todo .contenedor-imagen {
    background: url(../imagenes/fotoPerfil.png);
    width: 100%;
    height: 35em;
    background-size: cover;
    border: 5px solid #E53340;
    background-position: center;
    margin-right: 3em;
  }
  #sobremi .contenedor-todo .contenedor-texto {
    margin-top: 0;
    text-align: left;
    width: 90%;
    height: 35em;
  }
  #sobremi .contenedor-todo .contenedor-texto h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  #sobremi .contenedor-todo .contenedor-texto .parrafo {
    line-height: 2;
    margin-bottom: 0;
  }
  #sobremi .contenedor-todo .arreglo1 {
    height: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #sobremi .contenedor-todo .arreglo1 strong {
    font-size: 1.2rem;
  }
  #sobremi .contenedor-todo .arreglo2 {
    height: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #sobremi .contenedor-todo .arreglo2 strong {
    font-size: 1.2rem;
  }
  #sobremi .contenedor-todo a {
    margin-top: 2em;
    width: 30%;
    display: inline-block;
    text-align: center;
    border: 2px solid #E53340;
    color: #E53340;
    font-weight: 700;
    padding: 1em;
  }
  #sobremi .contenedor-todo a:hover {
    color: #fff;
    background-color: #E53340;
  }
  #servicios {
    height: 80vh;
    padding: 4em 3em;
  }
  #servicios .card--image {
    width: 50%;
    height: 50%;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  #servicios a {
    margin: 0 auto;
    width: 20%;
    display: inline-block;
    border: 2px solid #E53340;
    color: #E53340;
    font-weight: 700;
    padding: 1em;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    text-decoration: none;
  }
  #servicios a:hover {
    color: #fff;
    background-color: #E53340;
  }
  #portfolio {
    height: 140vh;
    padding: 4em 6em 0;
  }
  #portfolio .grid-portfolio {
    width: 100%;
    height: auto;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "img1 img1 img2" "img4 img4 img3" "img5 img5 img5";
    gap: 2em;
  }
  #portfolio .grid-portfolio img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    border: 5px solid #E53340;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    height: 15em;
  }
  #portfolio .grid-portfolio img:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  #portfolio .grid-portfolio .img1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: img1;
  }
  #portfolio .grid-portfolio .img2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: img2;
  }
  #portfolio .grid-portfolio .img3 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: img3;
  }
  #portfolio .grid-portfolio .img4 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: img4;
  }
  #portfolio .grid-portfolio .img5 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: img5;
  }
  #portfolio a {
    margin: 3em auto 0;
    width: 20%;
    display: inline-block;
    border: 2px solid #E53340;
    color: #E53340;
    font-weight: 700;
    padding: 1em;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    text-decoration: none;
  }
  #portfolio a:hover {
    color: #fff;
    background-color: #E53340;
  }
  #contacto {
    height: 90vh;
    padding: 0 6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contacto .contacto-img {
    background: url(../imagenes/contacto.jpg);
    width: 100%;
    height: 30em;
    background-size: cover;
    border: 5px solid #E53340;
    background-position: center;
    margin-right: 3em;
  }
  #contacto form {
    width: 100%;
    margin-top: 3em;
  }
  #contacto form h2 {
    font-weight: 700;
    margin-bottom: 1em;
  }
  #contacto form .input-style {
    width: 100%;
    border-bottom: 5px solid #E53340;
    background-color: #191C21;
    color: #fff;
    min-height: 3em;
    margin-bottom: 2em;
  }
  #contacto form #enviar {
    margin: 1em auto;
    width: 30%;
    display: inline-block;
    border: 2px solid #E53340;
    color: #E53340;
    font-weight: 700;
    padding: 1em;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    text-decoration: none;
    background: none;
  }
  #contacto form #enviar:hover {
    color: #fff;
    background-color: #E53340;
  }
  footer {
    height: 40vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-item {
    margin: 0 2em;
  }
  footer .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .redes img {
    margin: 0 0.3em;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    min-height: 6em;
  }
  .btn--inicio {
    width: 30%;
    margin-left: 0;
  }
  #sobremi {
    height: 90vh;
    padding: 4em 10em;
  }
  #servicios {
    height: 80vh;
    padding: 4em 4em;
  }
  #servicios .card--image {
    width: 50%;
    height: 50%;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  #portfolio {
    height: 150vh;
    padding: 4em 10em 0;
  }
  #contacto {
    height: 100vh;
    padding: 0 10em;
  }
  footer {
    height: 30vh;
  }
}

@media screen and (min-width: 1600px) {
  .navbar {
    min-height: 6em;
  }
  .contenedor__hero {
    position: absolute;
    top: 0;
    left: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30%;
    height: 100%;
    padding-bottom: 2em;
  }
  .contenedor__hero .btn--inicio {
    width: 30%;
    margin-left: 0;
  }
  #sobremi {
    height: 80vh;
    padding: 4em 30em;
  }
  #servicios {
    height: 80vh;
    padding: 4em 20em;
  }
  #servicios .card--image {
    width: 50%;
    height: 50%;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  #portfolio {
    height: 130vh;
    padding: 4em 30em 0;
  }
  #contacto {
    height: 80vh;
    padding: 0 25em;
  }
  footer {
    height: 30vh;
  }
  footer .footer-item {
    margin: 0 4em;
  }
}
/*# sourceMappingURL=estilos.css.map */